@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*Variables*/
:root{
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/*Variables End*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
}
html {
    scroll-behavior: smooth;
  }
a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
a:hover {
    color: var(--secondary-color);
  }

ul {
    list-style-type: none;
  }
/*Navbar Styling*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(100, 155, 15, 0.186);
}
nav h1 {
    color: var(--secondary-color);
  }
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}
nav ul li {
    font-weight: var(--bold-font);
  }
.menu-bar {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
/*Navbar Styling Ends Here*/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem; /*gap between the items*/
    max-width: 65rem;
    margin: auto;
    padding-top:50px;

}
  
.hero-section img {
    height: 25rem;
    width: 32rem;
   border-radius: 60%; 
  }

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
  
.bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }


/* Hero section ends */

/* More about */
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
.more-about-container{
    max-width: 40rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    padding: 10px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
.more-about-container p {
    line-height: var(--line-height);
    padding: 0.4rem;
    text-align: left;
    padding-left: 40px;
}
  /* More about ends */
/* Skills section */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 100px;
  }
  
.skill-header {
    margin-bottom: 1rem;
  }
  
.skills-wrapper img {
    padding: 1.25rem;
  }
  
.icon {
    width: 10rem;
    height: 9.5rem;
  }


  /* Skills section ends */
 .certifications{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 100px;
    padding-left: 21%;
    
 } 
 .certifications-container{
    text-align: left;
    padding-top: 10px;
    width: 30rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
 } 
 .certifications h2{
    text-align: left;
    padding-left: 20%;
    padding-bottom: 15px;
 }
 .certifications-container li{
    padding-bottom: 10px;
 }
 .certifications-container a:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
} 
  
/* Projects section */
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    padding-top: 100px;
  }
  
.project-pic {
    width: 65%;
    height: 60%;
    box-shadow: 0 3px 10px var(--primary-shadow);
}
  
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
}
  
.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 30vw;
   
    padding: 1rem;

    height:70vh;
    
    margin:15px;
    position: relative;
  }
  
.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 25px;
    margin: 10px;
  }
.project-container p {
    padding: 0.4rem;
    
  }
  
.project-title {
    margin-bottom: var(--bottom-margin);
  }
  
.project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  /* Projects section ends */
  
  /* Contacts section */
.contact {
    margin-top: 2rem;
    padding-top: 80px;
  }
  
.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
.contact-form-container {
    max-width:40rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }
  
.contact-form-container label {
    line-height: 3em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
.contact-form-container textarea {
    min-height: 7 rem;
    font-size: 14px;
  }
  
.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  
.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}
  
.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }
  
.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
  }
  /* Contacts section ends */
  
  /* Social buttons */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 40%;
  }
  
.socicon {
    width: 2rem;
    height: 2rem;
  }
  /* Social button ends */
  
  /* Scroll to top button */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
.up-arrow {
    width: 3rem;
    height: 3rem;
  }
  /* Scroll to top button ends */
  
  /* Footer section */
  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }
  /* Footer section ends */
  
  /* General (utilities) */
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }
  
  
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
    nav ul li {
      margin: 8px;
    }
  
    .menu-bar {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }
  
    .hero-section {
      margin-top: -4rem;
      flex-direction: column;
      gap: 0;
    }
  
    .hero-section img {
      height: 10rem;
      width: 10rem;
    }
  
    .bio {
      margin-top: -7rem;
      width: 20.5rem;
    }
  
    .more-about {
      margin-top: 2rem;
      padding: 1rem 3.5rem;
    }
  
    .more-about h2 {
      text-align: center;
    }
  
    .more-about p {
      text-align: justify;
    }
  
    .icon {
      width: 5.875rem;
      height: 5.25rem;
    }
  
    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
  
    .contact-form-container {
      max-width: 23.75rem;
    }
  }
  
  @media screen and (max-width: 420px) {
    .hero-section img {
       padding-top: 30px; 
      height: 15rem;
      width: 23rem;
    }
  
    .bio {
      margin-top: 15px; 
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
  }
  